
@import "reset";

@import "SidebarStyle/Sidebar";

@import "HomePageStyle/HomePage";

@import "SidebarStyle/SideBarProfile";

@import "HomePageStyle/Trending";


@import "MoviePage/MoviePage";

body{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: #191817;
  font-family: 'Poppins', sans-serif;
}
